:root {
  // Colors
  --dark-blue-intro: hsl(217, 28%, 15%);
  --dark-blue-main-bg: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonial: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  // Fonts
  --text-font: 'Open Sans', sans-serif;
  --header-font: 'Raleway', sans-serif;
}
